
// display flex

@mixin flex($disp: flex,$jc: center, $ai: center, $fw: nowrap) {
    display: $disp;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: $fw;
}

%flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

// w100 vh100

@mixin screen(){
    width: 100%;
    min-height: 100vh;
}


@mixin flex($jc: center, $ai: center, $fw: nowrap) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: $fw;
}

%flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

%button{
    padding: 8px 16px;
    background: linear-gradient(60deg, rgba(210,184,113,1) 0%, rgba(224,206,150,1) 100%);
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

%button-hover{
    padding: 8px 16px;
    background-color: transparent;
    color: white;
}



@mixin cajas ($redondo: 8px, $bgc: $blanco, $pad: 15px, $sombra: 0 0 5px rgba(0, 0, 0, .3)) {
    border-radius: $redondo;
    background-color: $bgc;
    padding: $pad;
    box-shadow: $sombra
}



// %cajas{
//     border-radius: 8px;
//     background-color: $blanco;
//     padding: 15px;
//     box-shadow: 0 0  5px rgba(0, 0, 0, .1)
// }

// @mixin iconPanel ($kleur: $azulMedio, $redondo: 30px, $pad: 5px 10px, $color: $negro){
//     background-color: $kleur;
//     border-radius: $redondo;
//     padding: $pad;
//     color: $color;
// }

// %iconPanel{
//     background-color: $azulMedio;
//     border-radius: 50%;
// }

// @mixin correcto ($redondo: 20px, $color: $blanco, $bgc: $naranja) {
//     border-radius: $redondo;
//     color: $color;
//     background-color: $bgc;
// }


// @mixin rendondoV ($redondo: 100%, $color: $blanco, $bgc: $rojo){
//     border-radius: $redondo;
//     color: $color;
//     background-color: $bgc;
// }

// %trapezium{
//     -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
//     clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
// }